{% extends 'base.html' %}
{% block content %}

<!-- Main Section -->
<main class="main_news">
    <div class="container">
        <h1>Xəbərlər və elanlar</h1>
        <a href="/">Ana Səhifə</a>
    </div>
</main>

<!-- News -->
<section class="news_list container">
    <ul class="news_header">
        <li><a href="/news" class="active">Daha çox</a></li>
        <li><a href="/news/bank">BANK</a></li>
        <li><a href="/news/investisiya">İNVESTİSİYA</a></li>
        <li><a href="/news/korporativ">KORPORATİV</a></li>
    </ul>
    {% for news in news_all %}
    <a href="/news/{{ news.id }}">
        <div class="news_body">
            <span>{{ news.category }}</span>
            <h4> {{ news.title }}</h4>
            <p>{{ news.added_at.strftime('%Y-%m-%d') }}</p>
        </div>
    </a>
    {% endfor %}
</section>

{% endblock %}