{% extends 'base.html' %}
{% block content %}
    <div class="full page_banner fag_banner vacancy_in_page vacancy_in_page kredit_in"
        style="background-image: linear-gradient(275deg, #6ebb20, #129450);">
        <div class="center full_h">
            <div class="page_banner_in full full_h ">
                <div class="full banner_link_box">
                    <h1>Universal Əmanət</h1> <a href="https://www.rabitabank.com/ferdi-emanetler">Əmanətlər</a>
                </div>
                <div class="full banner_bottom_box">
                    <ul class="full f_k_detail_list f_k_detail_list22">
                        <li>
                            <p>Müddət:</p> <strong>36 ayadək</strong>
                        </li>
                        <li>
                            <p>Faiz dərəcəsi:</p> <strong>10.50 %-dək</strong>
                        </li>
                        <li>
                            <p>Valyuta:</p> <strong>AZN/EUR/USD</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="full kredit_in_banner_bottom">
        <div class="center">
            <div class="full kredit_in_banner_bottom_in">
                <p>Universal Əmanət məhsulu ilə pulunuz artmaqla yanaşı həm də qazanılan faizlərin götürülməsində geniş
                    seçim imkanınız olacaq.</p> <img
                    src="https://www.rabitabank.com/uploads/posts/2021/06/universal amanat kampaniya.png"
                    alt="Universal Əmanət" title="Universal Əmanət">
            </div>
        </div>
    </div>
    <div class="full page_second_menu_section">
        <div class="center">
            <div class="full scrollbar">
                <ul class="full full_h page_second_menu page_second_menu_tab">
                    <li><a href="default" class="active">Məhsul haqqında</a></li>
                    <li><a href="javascript:" data-id="257205">Əmanətlərin Sığortalanması </a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="full kredit_in_content">
        <div class="center">
            <div class="full page_content">
                <div class="full kredit_in_detail">
                    <div class="print_content">
                        <h2><span style="color: #008000;">“Universal əmanət” Sizə əmanətin şərtlərini sərbəst şəkildə
                                seçmək imkanı verir.</span></h2>
                        <p><br><span style="color: #000000;">Siz əmanətin faizlərini və müddətini geniş seçim
                                imkanlarından yararlanaraq müəyyən edə bilərsiniz. <br></span></p>
                        <p>&nbsp;</p>
                        <h2 class="table_title">Universal əmanət məhsulunun şərtləri</h2>
                        <div class="full table_box_swipe">
                            <table class="mobile_display_block" style="width: 100%;">
                                <tbody>
                                    <tr class="tables">
                                        <td style="width: 60%;">
                                            <div class="full table_box_swipe">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td>Əmanətin Valyutası&nbsp; &nbsp;</td>
                                                            <td><strong><span
                                                                        style="color: #008000;">&nbsp;AZN/USD/EUR</span></strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Əmanətin Minimal Məbləği</td>
                                                            <td><strong><span style="color: #008000;">200 AZN&nbsp;-
                                                                        USD/ 500 EUR</span></strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Əmanətin Maksimal Məbləği&nbsp; &nbsp; &nbsp; &nbsp;
                                                                &nbsp;&nbsp;</td>
                                                            <td><strong><span
                                                                        style="color: #008000;">Yoxdur</span></strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Faizlərin Ödənilməsi</td>
                                                            <td><strong><span style="color: #008000;">Aylıq, Rüblük,
                                                                        Müddətin Sonunda</span></strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Əmanətin Artırılması</td>
                                                            <td><strong><span style="color: #008000;">Mümkün
                                                                        Deyil</span></strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td style="width: 40%;">
                                            <div class="table_block">
                                                <h3><span style="color: #008000;">Müddətin uzadılması</span></h3>
                                                <p>Əmanət müddəti qurtardıqdan sonra ertəsi gün əmanətçi əmanətin
                                                    qaytarılmasını tələb etmədikdə həmin dövrdəki tarif və şərtlərdə
                                                    eyni əmanət şərtləri mövcud olduğu halda həmin şərtlərlə, digər
                                                    bütün hallarda isə Bankın birtərəfli qaydada müəyyən etdiyi
                                                    şərtlərlə uzadılır. (hesablanmış faizlər əmanət məbləğinin üzərinə
                                                    əlavə olunmur).</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h2 class="table_title">&nbsp;</h2>
                        <h2 class="table_title">Hesablanmış faizlərin ödənilmə tezliyi</h2>
                        <p><span style="color: #008000;">faiz dərəcəsi - illik</span></p>
                        <p>&nbsp;</p>
                        <div class="tabbed_calculator">
                            <div class="t_header">
                                <div class="t_scroll_container"> <a data-month="ayliq" href="#">Aylıq</a> <a
                                        data-month="rubluk" href="#">Rüblük</a> <a data-month="muddetin_sonu"
                                        class="active" href="#">Müddətin sonu</a> </div>
                            </div>
                            <div class="t_body">
                                <div class="t_table">
                                    <table class="mobile_display_block">
                                        <thead>
                                            <tr>
                                                <td>Müddət</td>
                                                <td><a data-currency="azn" class="tab_button azn active"> <svg
                                                            id="dollar" xmlns="http://www.w3.org/2000/svg"
                                                            width="27.998" height="27.998" viewBox="0 0 27.998 27.998">
                                                            <g id="Group_1056" data-name="Group 1056">
                                                                <g id="Group_1055" data-name="Group 1055">
                                                                    <path id="Path_308" data-name="Path 308"
                                                                        d="M14,0A14,14,0,1,0,28,14,14.015,14.015,0,0,0,14,0Zm0,26.248A12.249,12.249,0,1,1,26.248,14,12.263,12.263,0,0,1,14,26.248Z"
                                                                        fill="#fff"></path>
                                                                </g>
                                                            </g>
                                                            <path id="Path_315" data-name="Path 315"
                                                                d="M135.149,148.158v6.361a.989.989,0,0,0,1.978,0v-6.343c3.233.57,4.945,3.888,4.945,6.343a.989.989,0,0,0,1.978,0c0-3.842-2.739-7.8-6.924-8.344v-1.053a.989.989,0,1,0-1.978,0v1.042c-4.364.466-6.924,4.207-6.924,8.355a.989.989,0,0,0,1.978,0C130.2,152.461,131.267,148.7,135.149,148.158Z"
                                                                transform="translate(-121.972 -136.878)" fill="#fff">
                                                            </path>
                                                        </svg> AZN </a> </td>
                                                <td><a data-currency="usd" class="tab_button usd"> <svg id="dollar"
                                                            xmlns="http://www.w3.org/2000/svg" width="27.998"
                                                            height="27.998" viewBox="0 0 27.998 27.998">
                                                            <g id="Group_1056" data-name="Group 1056">
                                                                <g id="Group_1055" data-name="Group 1055">
                                                                    <path id="Path_308" data-name="Path 308"
                                                                        d="M14,0A14,14,0,1,0,28,14,14.015,14.015,0,0,0,14,0Zm0,26.248A12.249,12.249,0,1,1,26.248,14,12.263,12.263,0,0,1,14,26.248Z"
                                                                        fill="#fff"></path>
                                                                </g>
                                                            </g>
                                                            <g id="Group_1058" data-name="Group 1058"
                                                                transform="translate(9.624 6.125)">
                                                                <g id="Group_1057" data-name="Group 1057">
                                                                    <path id="Path_309" data-name="Path 309"
                                                                        d="M180.375,119c-1.423,0-2.625-.8-2.625-1.75s1.2-1.75,2.625-1.75a3.105,3.105,0,0,1,2.044.689.875.875,0,1,0,1.162-1.309,4.631,4.631,0,0,0-2.331-1.057v-.948a.875.875,0,1,0-1.75,0v.945c-1.995.325-3.5,1.739-3.5,3.43,0,1.93,1.963,3.5,4.375,3.5,1.423,0,2.625.8,2.625,1.75s-1.2,1.75-2.625,1.75a3.1,3.1,0,0,1-2.044-.689.875.875,0,0,0-1.162,1.309,4.633,4.633,0,0,0,2.331,1.059v.947a.875.875,0,1,0,1.75,0v-.945c1.995-.325,3.5-1.739,3.5-3.43C184.749,120.569,182.786,119,180.375,119Z"
                                                                        transform="translate(-176 -112)" fill="#fff">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </svg> USD </a></td>
                                                <td><a data-currency="eur" class="tab_button eur"> <svg id="euro"
                                                            xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                            viewBox="0 0 28 28">
                                                            <g id="Group_1052" data-name="Group 1052">
                                                                <g id="Group_1051" data-name="Group 1051">
                                                                    <path id="Path_306" data-name="Path 306"
                                                                        d="M14,0A14,14,0,1,0,28,14,14.016,14.016,0,0,0,14,0Zm0,26.25A12.25,12.25,0,1,1,26.25,14,12.263,12.263,0,0,1,14,26.25Z"
                                                                        fill="#fff"></path>
                                                                </g>
                                                            </g>
                                                            <g id="Group_1054" data-name="Group 1054"
                                                                transform="translate(7 7)">
                                                                <g id="Group_1053" data-name="Group 1053">
                                                                    <path id="Path_307" data-name="Path 307"
                                                                        d="M138.006,139.58a3.722,3.722,0,0,1-2.132.67,4.3,4.3,0,0,1-3.766-2.625H135a.875.875,0,0,0,0-1.75h-3.426a5.245,5.245,0,0,1,0-1.75h4.3a.875.875,0,1,0,0-1.75h-3.766a4.3,4.3,0,0,1,3.766-2.625,3.722,3.722,0,0,1,2.132.67.875.875,0,0,0,.987-1.445,5.522,5.522,0,0,0-3.118-.975,6.2,6.2,0,0,0-5.67,4.375h-1.33a.875.875,0,1,0,0,1.75h.952a5.01,5.01,0,0,0,0,1.75h-.952a.875.875,0,0,0,0,1.75h1.33a6.2,6.2,0,0,0,5.67,4.375,5.522,5.522,0,0,0,3.118-.975.875.875,0,1,0-.987-1.445Z"
                                                                        transform="translate(-128 -128)" fill="#fff">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </svg> EUR </a> </td>
                                            </tr>
                                        </thead>
                                        <tbody id="deposite_calculator_table" class="t_currency_percents">
                                            <tr>
                                                <td>Tələb olunanadək</td>
                                                <td data-month="teleb" class="azn active"><span>-</span></td>
                                                <td data-month="teleb" class="usd"><span>-</span></td>
                                                <td data-month="teleb" class="eur"><span>-</span></td>
                                            </tr>
                                            <tr>
                                                <td>3 ay</td>
                                                <td data-month="3" class="azn active"><span>3,00%</span></td>
                                                <td data-month="3" class="usd"><span>-</span></td>
                                                <td data-month="3" class="eur"><span>-</span></td>
                                            </tr>
                                            <tr>
                                                <td>6 ay</td>
                                                <td data-month="6" class="azn active"><span>6,00%</span></td>
                                                <td data-month="6" class="usd"><span>0,50%</span></td>
                                                <td data-month="6" class="eur"><span>-</span></td>
                                            </tr>
                                            <tr>
                                                <td>12 ay</td>
                                                <td data-month="12" class="azn active"><span>10,00%</span></td>
                                                <td data-month="12" class="usd"><span>0,50%</span></td>
                                                <td data-month="12" class="eur"><span>0,50%</span></td>
                                            </tr>
                                            <tr>
                                                <td>24 ay</td>
                                                <td data-month="24" class="azn active"><span>10,50%</span></td>
                                                <td data-month="24" class="usd"><span>0,50%</span></td>
                                                <td data-month="24" class="eur"><span>-</span></td>
                                            </tr>
                                            <tr>
                                                <td>36 ay</td>
                                                <td data-month="36" class="azn active"><span>10,50%</span></td>
                                                <td data-month="36" class="usd"><span>-</span></td>
                                                <td data-month="36" class="eur"><span>-</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <h2 class="table_title">Müqaviləyə vaxtından əvvəl xitam verildikdə faizlərin hesablanması</h2>
                        <table class="mobile_display_block">
                            <tbody class="t_currency_percents">
                                <tr class="tables">
                                    <td style="width: 70%">
                                        <table>
                                            <thead>
                                                <tr class="desktop_header">
                                                    <td colspan="1">Müqavilənin imzalanma tarixindən əmanətin vaxtından
                                                        əvvəl məxarici tarixinədək keçən günlərin sayı</td>
                                                    <td colspan="3">Əmanətin vaxtından əvvəl məxarici gününədək
                                                        hesablanmış fazilərin ödəniləcək hissəsi</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><a data-currency="azn" class="tab_button azn active"> <svg
                                                                id="dollar" xmlns="http://www.w3.org/2000/svg"
                                                                width="27.998" height="27.998"
                                                                viewBox="0 0 27.998 27.998">
                                                                <g id="Group_1056" data-name="Group 1056">
                                                                    <g id="Group_1055" data-name="Group 1055">
                                                                        <path id="Path_308" data-name="Path 308"
                                                                            d="M14,0A14,14,0,1,0,28,14,14.015,14.015,0,0,0,14,0Zm0,26.248A12.249,12.249,0,1,1,26.248,14,12.263,12.263,0,0,1,14,26.248Z"
                                                                            fill="#fff"></path>
                                                                    </g>
                                                                </g>
                                                                <path id="Path_315" data-name="Path 315"
                                                                    d="M135.149,148.158v6.361a.989.989,0,0,0,1.978,0v-6.343c3.233.57,4.945,3.888,4.945,6.343a.989.989,0,0,0,1.978,0c0-3.842-2.739-7.8-6.924-8.344v-1.053a.989.989,0,1,0-1.978,0v1.042c-4.364.466-6.924,4.207-6.924,8.355a.989.989,0,0,0,1.978,0C130.2,152.461,131.267,148.7,135.149,148.158Z"
                                                                    transform="translate(-121.972 -136.878)"
                                                                    fill="#fff"></path>
                                                            </svg> AZN </a></td>
                                                    <td><a data-currency="usd" class="tab_button usd"> <svg id="dollar"
                                                                xmlns="http://www.w3.org/2000/svg" width="27.998"
                                                                height="27.998" viewBox="0 0 27.998 27.998">
                                                                <g id="Group_1056" data-name="Group 1056">
                                                                    <g id="Group_1055" data-name="Group 1055">
                                                                        <path id="Path_308" data-name="Path 308"
                                                                            d="M14,0A14,14,0,1,0,28,14,14.015,14.015,0,0,0,14,0Zm0,26.248A12.249,12.249,0,1,1,26.248,14,12.263,12.263,0,0,1,14,26.248Z"
                                                                            fill="#fff"></path>
                                                                    </g>
                                                                </g>
                                                                <g id="Group_1058" data-name="Group 1058"
                                                                    transform="translate(9.624 6.125)">
                                                                    <g id="Group_1057" data-name="Group 1057">
                                                                        <path id="Path_309" data-name="Path 309"
                                                                            d="M180.375,119c-1.423,0-2.625-.8-2.625-1.75s1.2-1.75,2.625-1.75a3.105,3.105,0,0,1,2.044.689.875.875,0,1,0,1.162-1.309,4.631,4.631,0,0,0-2.331-1.057v-.948a.875.875,0,1,0-1.75,0v.945c-1.995.325-3.5,1.739-3.5,3.43,0,1.93,1.963,3.5,4.375,3.5,1.423,0,2.625.8,2.625,1.75s-1.2,1.75-2.625,1.75a3.1,3.1,0,0,1-2.044-.689.875.875,0,0,0-1.162,1.309,4.633,4.633,0,0,0,2.331,1.059v.947a.875.875,0,1,0,1.75,0v-.945c1.995-.325,3.5-1.739,3.5-3.43C184.749,120.569,182.786,119,180.375,119Z"
                                                                            transform="translate(-176 -112)"
                                                                            fill="#fff"></path>
                                                                    </g>
                                                                </g>
                                                            </svg> USD </a></td>
                                                    <td><a data-currency="eur" class="tab_button eur"> <svg id="euro"
                                                                xmlns="http://www.w3.org/2000/svg" width="28"
                                                                height="28" viewBox="0 0 28 28">
                                                                <g id="Group_1052" data-name="Group 1052">
                                                                    <g id="Group_1051" data-name="Group 1051">
                                                                        <path id="Path_306" data-name="Path 306"
                                                                            d="M14,0A14,14,0,1,0,28,14,14.016,14.016,0,0,0,14,0Zm0,26.25A12.25,12.25,0,1,1,26.25,14,12.263,12.263,0,0,1,14,26.25Z"
                                                                            fill="#fff"></path>
                                                                    </g>
                                                                </g>
                                                                <g id="Group_1054" data-name="Group 1054"
                                                                    transform="translate(7 7)">
                                                                    <g id="Group_1053" data-name="Group 1053">
                                                                        <path id="Path_307" data-name="Path 307"
                                                                            d="M138.006,139.58a3.722,3.722,0,0,1-2.132.67,4.3,4.3,0,0,1-3.766-2.625H135a.875.875,0,0,0,0-1.75h-3.426a5.245,5.245,0,0,1,0-1.75h4.3a.875.875,0,1,0,0-1.75h-3.766a4.3,4.3,0,0,1,3.766-2.625,3.722,3.722,0,0,1,2.132.67.875.875,0,0,0,.987-1.445,5.522,5.522,0,0,0-3.118-.975,6.2,6.2,0,0,0-5.67,4.375h-1.33a.875.875,0,1,0,0,1.75h.952a5.01,5.01,0,0,0,0,1.75h-.952a.875.875,0,0,0,0,1.75h1.33a6.2,6.2,0,0,0,5.67,4.375,5.522,5.522,0,0,0,3.118-.975.875.875,0,1,0-.987-1.445Z"
                                                                            transform="translate(-128 -128)"
                                                                            fill="#fff"></path>
                                                                    </g>
                                                                </g>
                                                            </svg> EUR </a> </td>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>0 - 30 gün</td>
                                                    <td class="currency_percent azn active">0%</td>
                                                    <td class="currency_percent usd">0%</td>
                                                    <td class="currency_percent eur">0%</td>
                                                </tr>
                                                <tr>
                                                    <td>31 – 180 gün</td>
                                                    <td class="currency_percent azn active">10%</td>
                                                    <td class="currency_percent usd">10%</td>
                                                    <td class="currency_percent eur">10%</td>
                                                </tr>
                                                <tr>
                                                    <td>181 – 360 gün</td>
                                                    <td class="currency_percent azn active">20%</td>
                                                    <td class="currency_percent usd">25%</td>
                                                    <td class="currency_percent eur">25%</td>
                                                </tr>
                                                <tr>
                                                    <td>360 gündən sonra</td>
                                                    <td class="currency_percent azn active">30%</td>
                                                    <td class="currency_percent usd">50%</td>
                                                    <td class="currency_percent eur">50%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <div class="table_block">
                                            <p>1 iyun 2020-ci il tarixindən etibarən milli valyutada olan qorunan
                                                əmanətlər üzrə illik faiz dərəcəsinin yuxarı həddini 12%, xarici
                                                valyutada isə 2,5% müəyyən edilib.</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="full share_and_print_btn share_and_print_btn_k_in ">
                        <li> <button type="button" class="print_button"> <svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24">
                                    <g fill="none" fill-rule="evenodd">
                                        <path d="M0 0h24v24H0z"></path>
                                        <path fill="#AABBC7"
                                            d="M19.857 2.571v1.572H4.143V2.57C4.143 1.704 4.847 1 5.714 1h12.572c.867 0 1.571.704 1.571 1.571zm1.572 3.143c.867 0 1.571.704 1.571 1.572v9.428c0 .868-.704 1.572-1.571 1.572h-1.572v3.143c0 .867-.704 1.571-1.571 1.571H5.714a1.572 1.572 0 0 1-1.571-1.571v-3.143H2.57A1.572 1.572 0 0 1 1 16.714V7.286c0-.868.704-1.572 1.571-1.572H21.43zM18.286 21.43V13.57H5.714v7.858h12.572zm1.571-11V8.857h-3.143v1.572h3.143zM7.286 18.286H12v1.571H7.286v-1.571zm0-3.143h9.428v1.571H7.286v-1.571z">
                                        </path>
                                    </g>
                                </svg> </button> </li>
                        <li> <button type="button"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <g fill="none" fill-rule="evenodd">
                                        <path d="M0 0h24v24H0z"></path>
                                        <path fill="#AABBC7"
                                            d="M18.168 15.667a3.905 3.905 0 0 0-2.765 1.13l-5.969-3.55c.149-.389.233-.808.233-1.247 0-.439-.084-.858-.233-1.248l5.97-3.549a3.906 3.906 0 0 0 2.764 1.13C20.284 8.333 22 6.692 22 4.667S20.284 1 18.168 1c-2.118 0-3.835 1.642-3.835 3.667 0 .439.085.858.232 1.248L8.597 9.463a3.904 3.904 0 0 0-2.764-1.13C3.716 8.333 2 9.975 2 12s1.716 3.667 3.833 3.667a3.905 3.905 0 0 0 2.764-1.13l5.968 3.548c-.147.39-.232.81-.232 1.248 0 2.025 1.717 3.667 3.835 3.667C20.284 23 22 21.358 22 19.333s-1.716-3.666-3.832-3.666z">
                                        </path>
                                    </g>
                                </svg> </button> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="container" style=" background-color: #f8fafb; padding: 40px 45px; margin-top: 50px;">
        <h3 style="font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #2e384d;">Əmanət Kalkulyatoru</h3>
        <p style="    font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #708390;
        margin-top: 8px;">Universal Əmanət</p>
        <div class="row" style="justify-content: space-between;">
            <select class="form-control form-control-lg col-5">
                <option>Aylıq</option>
                <option value="">Rüblük</option>
                <option value="">Müddətin sonunda</option>
            </select>
            <select class="form-control form-control-lg col-5">
                <option>AZN</option>
                <option value="">USD</option>
            </select>

        </div>
        <br>
        <div class="row" style=" justify-content: space-between;">
            <select class="form-control form-control-lg col-5">
                <option>6 ay</option>
                <option value="">12 ay</option>
                <option value="">24 ay</option>
                <option value="">36 ay</option>
            </select>
            <br>
            <form class=" col-5" style="border: 1px solid #e2e2e2; border-radius: 8px;">
                <div class="form-group ">
                    <label style="font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    letter-spacing: 0.38px;
                    color: #979ca8;
                    top: 3px;
                    padding-left: 16px;
                    margin-bottom: -10px;" for="">Əmanət məbləği</label>
                    <input type="range" class="form-control-range" id="formControlRange">
                </div>
            </form>

        </div>
        <div class="row" style="justify-content: space-between;">
            <select class="form-control form-control-lg col-5" id="form1">
                <option>4.00%</option>
            </select>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <p style="    font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #708390;
                margin-top: 5px;">Əldə olunan gəlir</p>
                <p style="
                font-size: 22px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.27;
                letter-spacing: normal;
                color: #2e384d;
                font-family: 'Roboto-Bold';
                width: auto;">100.00 AZN</p>

            </div>
            <div class="col-2">
                <p style="    font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #708390;
                margin-top: 5px;">Yekun məbləğ</p>
                <p style="
                font-size: 22px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.27;
                letter-spacing: normal;
                color: #2e384d;
                font-family: 'Roboto-Bold';
                width: auto;">5100.00 AZN</p>

            </div>

        </div>

    </div>
    <section class="full">
        <div class="center">
            <div class="full kreditin_in_title">
                <h4>Sizin üçün ən yaxşı təkliflər</h4>
                <div class="full teklif_slide_box">
                    <ul class="company_list company_list22 full company_list_main">
                        <li>
                            <div class="company_li_sides company_left_side">
                                <p class="c_cat">Fərdi</p>
                                <p class="c_desc">Nağd pul krediti üzrə “Bahar” kampaniyası</p> <a
                                    href="https://www.rabitabank.com/bahar-kampaniyasi"
                                    title="Nağd pul krediti üzrə “Bahar” kampaniyası" class="read_more_s_btn ox_rm">Daha
                                    ətraflı</a>
                            </div>
                            <div class="company_li_sides company_right_side"> <img
                                    src="https://www.rabitabank.com/uploads/posts/2022/03/sayttt.png"
                                    title="Nağd pul krediti üzrə “Bahar” kampaniyası"
                                    alt="Nağd pul krediti üzrə “Bahar” kampaniyası"> </div> <a
                                href="https://www.rabitabank.com/bahar-kampaniyasi"
                                title="Nağd pul krediti üzrə “Bahar” kampaniyası"
                                class="read_more_s_btn only_mobile">Daha ətraflı</a>
                        </li>
                        <li>
                            <div class="company_li_sides company_left_side">
                                <p class="c_cat">Fərdi</p>
                                <p class="c_desc">Lombard krediti üzrə Kampaniya</p> <a
                                    href="https://www.rabitabank.com/lombard-krediti-uzre-kampaniya"
                                    title="Lombard krediti üzrə Kampaniya" class="read_more_s_btn ox_rm">Daha
                                    ətraflı</a>
                            </div>
                            <div class="company_li_sides company_right_side"> <img
                                    src="https://www.rabitabank.com/uploads/posts/2022/02/lombard kampaniya.png"
                                    title="Lombard krediti üzrə Kampaniya" alt="Lombard krediti üzrə Kampaniya"> </div>
                            <a href="https://www.rabitabank.com/lombard-krediti-uzre-kampaniya"
                                title="Lombard krediti üzrə Kampaniya" class="read_more_s_btn only_mobile">Daha
                                ətraflı</a>
                        </li>
                        <li>
                            <div class="company_li_sides company_left_side">
                                <p class="c_cat">Fərdi</p>
                                <p class="c_desc">Faizsiz Avans</p> <a href="https://www.rabitabank.com/faizsiz-avans"
                                    title="Faizsiz Avans" class="read_more_s_btn ox_rm">Daha ətraflı</a>
                            </div>
                            <div class="company_li_sides company_right_side"> <img
                                    src="https://www.rabitabank.com/uploads/posts/2021/10/esas.png"
                                    title="Faizsiz Avans" alt="Faizsiz Avans"> </div> <a
                                href="https://www.rabitabank.com/faizsiz-avans" title="Faizsiz Avans"
                                class="read_more_s_btn only_mobile">Daha ətraflı</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <div class="container" style="background-color: #f8fafb;">
        <div style="margin-top: 40px !important;" id="carouselExampleCaptions" class="carousel slide"
            data-ride="carousel">
            <ol class="carousel-indicators">
                <li style="background-color: rgb(120, 109, 109) !important;" data-target="#carouselExampleCaptions"
                    data-slide-to="0" class="active"></li>
                <li style="background-color: rgb(120, 109, 109) !important;" data-target="#carouselExampleCaptions"
                    data-slide-to="1"></li>
                <li style="background-color: rgb(120, 109, 109) !important;" data-target="#carouselExampleCaptions"
                    data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 style="
                                font-size: 40px;
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.2;
                                letter-spacing: normal;
                                color: #2e384d;
                                font-family: 'Roboto-Medium';
                                text-align: left;">Rabita Mobile</h5>
                                <p style="
                                opacity: 0.6;
                                font-size: 20px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.75;
                                letter-spacing: normal;
                                color: #15334a;
                                margin-top: 12px;
                                width: 90%;
                                text-align: left;">Rabita Mobile ilə banka getməyə ehtiyac yoxdur, bankınız hər zaman
                                    yanınızdadır!</p>
                                <a style="padding: 15px 32px;
                                font-size: 16px;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 0.3px;
                                text-align: center;
                                color: #ffffff;
                                background-color: #2e384d;
                                margin-top: 30px;
                                text-decoration: none;
                                border-radius: 6px;
                                float: left;
                                " href="https://www.rabitabank.com/internet-bankciliq" title="İnternet Bankçılıq"
                                    target="_blank" class="read_more_s_btn " tabindex="-1">Daha ətraflı</a>
                            </div>

                        </div>
                        <div class="col">
                            <img src="static/kc1.png" class="d-block w-100" alt="...">
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 style="
                                font-size: 40px;
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.2;
                                letter-spacing: normal;
                                color: #2e384d;
                                font-family: 'Roboto-Medium';
                                text-align: left;">RabitaBot</h5>
                                <p style="
                                opacity: 0.6;
                                font-size: 20px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.75;
                                letter-spacing: normal;
                                color: #15334a;
                                margin-top: 12px;
                                width: 90%;
                                text-align: left;">Azərbaycanın ilk maliyyə çatbotu!</p>
                                <a style="padding: 15px 32px;
                                font-size: 16px;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 0.3px;
                                text-align: center;
                                color: #ffffff;
                                background-color: #2e384d;
                                margin-top: 30px;
                                text-decoration: none;
                                border-radius: 6px;
                                float: left;
                                " href="https://www.rabitabank.com/internet-bankciliq" title="İnternet Bankçılıq"
                                    target="_blank" class="read_more_s_btn " tabindex="-1">Daha ətraflı</a>
                            </div>
                        </div>
                        <div class="col">
                            <img src="static/kc2.png" class="d-block w-100" alt="...">
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 style="
                                font-size: 40px;
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.2;
                                letter-spacing: normal;
                                color: #2e384d;
                                font-family: 'Roboto-Medium';
                                text-align: left;">İnternet Bankçılıq</h5>
                                <p style="
                                opacity: 0.6;
                                font-size: 20px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.75;
                                letter-spacing: normal;
                                color: #15334a;
                                margin-top: 12px;
                                width: 90%;
                                text-align: left;">Hesablarınızı idarə etmək rahatdır!</p>
                                <a style="padding: 15px 32px;
                                font-size: 16px;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 0.3px;
                                text-align: center;
                                color: #ffffff;
                                background-color: #2e384d;
                                margin-top: 30px;
                                text-decoration: none;
                                border-radius: 6px;
                                float: left;
                                " href="https://www.rabitabank.com/internet-bankciliq" title="İnternet Bankçılıq"
                                    target="_blank" class="read_more_s_btn " tabindex="-1">Daha ətraflı</a>
                            </div>
                        </div>
                        <div class="col">
                            <img src="static/kc3.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>


    </div>

    <br>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
{% endblock %}
